        /*for smartphones*/
@media screen and (min-width: 320px) and (max-width: 414px)  {
    body{
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #Bgrnd{
        margin-left: -17px;
        margin-right: 10px;
        width: 340px;
    }
    .timg{
        padding-left: 30px;
    }
    .numbtn{
       margin: 2px;
    }
}
 /*for samsung galaxy s8+*/
@media screen and (width: 360px)  {
    body{
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #Bgrnd{
        margin-left: -17px;
        margin-right: 10px;
        width: 340px;
    }
    .timg{
        padding-left: 30px;
    }
    .numbtn{
       margin: 1px;
    }
}

 /*for medium screens*/
@media all and (min-width: 460px) and (max-width: 1024px)  {
    body{
        margin-left: -150px;
    }
    #Bgrnd{
        margin-left: 230px;
    }
    .Bground{
        height: 450px;
        min-width: 400px;
    }
   
    .timg{
        padding-left: 65px;
    }
    .numbtn{
       margin: 9px;
    }
}
 /*for samsung galaxy fold*/
@media screen and (width: 280px) {
    
    .Bground{
        margin-top: -100px;
        margin-left: 10px;
        margin-right: 10px;
        width: 370px;
        height: 400px;
    }
    .timg{
        padding-left: 30px;
    }
    .numbtn{
       margin: 1px;
       font-size: 10px;
       padding: 10px 15px;
    }
}
 /*for small screen*/
@media screen and (width: 320px) {
    
    .Bground{
        margin-top: -50px;
        margin-left: 10px;
        margin-right: 10px;
        width: 370px;
        height: 400px;
    }
    .timg{
        padding-left: 30px;
    }
    .numbtn{
       margin: 1px;
       font-size: 10px;
       padding: 10px 15px;
    }
}
body{
    background-color: hsl(216, 12%, 8%);
    margin-top: 200px;
}

/*main background*/
.Bground{
    background-color: hsl(213, 19%, 18%);
    border-radius: 50px;
    height: 450px;
    box-shadow: 1px 1px 20px hsl(216, 12%, 8%);

}

#Bgrnd{
    margin-left: 365px;
    margin-top: -30px;
}

/*all text*/
p{
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

/*all h4 tags*/
h4{
    color: hsl(0, 0%, 100%);
  
}

/*the star image*/
.starimg{
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    padding: 16px;
    box-shadow: 1px 1px 20px hsl(216, 12%, 8%);

}

/*the number rating*/
.numbtn{
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    box-shadow: 1px 1px 20px hsl(216, 12%, 8%);
    padding: 15px 20px;
    font-size: 13px;
    margin:7px;
}

/*the number rating hover action*/
.numbtn:hover{
    background-color:  hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}

/*the number rating action on click*/
.numbtn:focus{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

/*the submit button*/
.subbtn{
   background-color: hsl(25, 97%, 53%);
   color: hsl(0, 0%, 100%);
   border-radius: 50px;
   width: 100%;
   height: 40px;
   font-weight: bold;
}

/*the submit button hover action*/
.subbtn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

/*the phone image*/
.timg{
    padding-left: 50px;
}

/*the number of ratings*/
.ratings{
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    box-shadow: 1px 1px 20px hsl(216, 12%, 8%);
    border-radius: 50px;
    text-align: center;
    padding: 6px;
}

/*the feedback text*/
.thanks{
    text-align: center;
}
